<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/icone-teste.png" type="image/x-icon">
    <title>Shelfy</title>

    <!-- Importando Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/static/style/homepageStyle.css">
    
</head>
<body>
    
    <!-- Configuração da div do background -->
    <!-- <div class="homepage-background"></div> -->

    <div class="div-superior">

        <nav class="navbar navbar-expand-lg navbar-light px-4">
            <div class="container-fluid">
                <a class="navbar-brand d-flex text-light" href="/">
                    <img src="/static/images/icon-vertical.png" alt="Logo do site Shelfy" width="90px" height="90px" class="d-inline-block align-text-center">
                </a>

                <div class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item nav-links">
                            <!-- Usar text-light no class depois -->
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item nav-links">
                            <a href="#" class="nav-link">Minhas Estantes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row" style="margin-top: 1.5rem;">
                <div class="col-5" style="margin-left: -1.5rem;">
                    <div style="display: flex; margin-top: 1.5rem;">
                        <img class="main-img" src="/static/images/icone-teste.png" alt="">
                        <p class="main-title">Shelfy</p>
                    </div>
                    <p class="main-text">Organize suas leituras de forma prática, inovadora e intuitiva :D</p>
                    <!-- <button class="calendario-btn"><a href="/calendario" style="text-decoration: none; color: #2C2C46;">Calendário</a></button> -->
                    <a href="#" class="main-btn link-main-btn">Faça Login</a>

                </div>
                <div class="col-7">
                    <img style="position: absolute; margin-left: 12rem; margin-top: 2.6rem;" src="/static/images/livro-aberto.png" alt="" width="600rem" height="450rem">
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row" style="margin-top: 3rem;">
            <div class="col-3" style="margin-left: -9rem;">
                <img style="margin-top: 1rem;" src="/static/images/aspas-esquerda.png" alt="" width="130rem" height="130rem">
            </div>
            <div class="col-9">
                <p class="titulo-central">Título explicativo</p>
            </div>
            
        </div>

        <div class="row sub-row">
            <div class="col-4">
                <img class="sub-img" src="/static/images/pilha-livros.png" alt="">
            </div>
            <div class="col-4">
                <p class="sub-title"><strong>Subtítulo</strong></p>
                <p class="sub-text">Lorem ipsum dolor sit amet. Ex accusamus eligendi sed laboriosam obcaecati aut </p>
            </div>
            <div class="col-4">
                <div class="sub-item">
                    <p class="sub-item-title"><strong>Lorem ipsum dolor sit amet</strong></p>
                    <p class="sub-item-text">accusamus eligendi sed laboriosam obcaecati aut </p>
                </div>
                <div class="sub-item">
                    <p class="sub-item-title"><strong>Lorem ipsum dolor sit amet</strong></p>
                    <p class="sub-item-text">accusamus eligendi sed laboriosam obcaecati aut </p>
                </div>
                <div class="sub-item" style="margin-bottom: 1.1rem;">
                    <p class="sub-item-title"><strong>Lorem ipsum dolor sit amet</strong></p>
                    <p class="sub-item-text">accusamus eligendi sed laboriosam obcaecati aut </p>
                </div>
            </div>
            <!-- <img style="margin-left: 28rem; margin-top: -20rem;" src="/static/images/aspas-direita.png" alt="" width="30rem" height="30rem"> -->
        </div>
        <img style="margin-left: 86rem; margin-top: -5rem;" src="/static/images/aspas-direita.png" alt="" width="130rem" height="130rem">

        <!-- <div class="row" style="margin-top: 3rem;">
            <div class="col-8" style=" background-color: aquamarine;">
                <p class="titulo-central">Título explicativo</p>
            </div>
            <div class="col-4" style="background-color: blueviolet;">
                <img style="margin-left: 28rem; margin-top: -20rem;" src="/static/images/aspas-direita.png" alt="" width="130rem" height="130rem">
            </div>
        </div> -->
    </div>

</body>
</html>