body {
    color: #E8E4E4;
    background-color: #E8E4E4;
}

.content {
    height: 100vh;
}

.novo-btn {
    font-size: 1.4rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    border-radius: 2.5rem;
    background-color: #86BD96;
    color: #DCD7D5;
    width: 10rem;
    height: 4rem;
    margin-top: -0.5rem;
    margin-left: 10rem;
}

.icon {
    width: 4rem;
    height: 4rem;
}

.icon-novo {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
}

.popup {
    position: absolute;
    display: none; /* ou flex pra mostrar */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 35rem;
    background: linear-gradient(to right, #d2c3b2, #FAECDC);
    color: #63524A;
    padding: 2rem;
    border-radius: 15px;
}

.popup-editar-content {
    width: 35rem;
    background: linear-gradient(to right, #d2c3b2, #FAECDC);
    color: #63524A;
    padding: 2rem;
    border-radius: 15px;
}

.popup-content h6 {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #8c82b4;
}

.novo-form input {
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    width: 100%;
    border: none;
    background-color: #FCFBF5;
    border-radius: 10px;
    padding-left: 0.8rem;
    margin-bottom: 1.5rem;
}

.novo-form select {
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    width: 100%;
    border: none;
    background-color: #FCFBF5;
    border-radius: 10px;
    padding: 0.3rem;
    padding-left: 0.8rem;
}

.novo-form textarea {
    resize: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    width: 100%;
    border: none;
    background-color: #FCFBF5;
    border-radius: 20px;
    padding-bottom: 2rem;
    padding-left: 0.8rem;
    margin-bottom: 3rem;
}

.novo-form input, select, textarea:focus {
    outline: none; 
    box-shadow: 0 0 6px #FFFFFF
}

.submit-btn {
    border: none;
    background-color: #86BD96;
    color: #DCD7D5;
    font-size: 1.3rem;
    padding: 0.2rem;
    width: 23%;
    border-radius: 10px;
}

.estante {
    width: 200px;
    height: 200px;
}

/* Barra de pesquisa */
.search-bar{
    background-color: #E2D6C8;
    border-radius: 1.2rem;
    width: 45rem;
    margin-left: 10rem;
}

.search-img{
    width: 2rem;
    height: 2rem;
}

/* TESTE - estantes */
.estante-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 1.2rem;
    margin-top: 0;
    margin-left: 7rem;
    margin-right: 7rem;
    width: 20rem;
    transition: transform 0.2s;
    color: #fff;
    /* background-color: #d2c3b2; */
    overflow: hidden;
    text-align: center;
    /* position: relative; */
}

.estante-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    text-decoration: none;
}

.estante-img {
    width: 18rem;
    height: 18rem;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

.estante-nome {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #63524A;
}

.estante-descricao {
    word-wrap: break-word;   
    overflow-y: auto;        
    max-height: 6rem;
    font-size: 1rem;
    text-align: center;
    color: #63524A;
    margin-top: 0.2rem;
}

/* TESTE - DROPDOWN MENU */
.estante-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
}

.estante-menu.show {
    display: block;
}

.user-menu li a {
    padding: 0;
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    color: #20202092;
    margin-top: 15rem;
    border-top: 1px solid #4b3f6e2a;
    width: 80%;
    height: 5rem; /* Define a altura do rodapé */
}

footer a {
    text-decoration: none;
    color: #4B3F6E;
}

footer p {
    margin: 2px;
}

footer a:hover {
    color: #241d38;
    text-shadow: 3px 3px 5px #241d38;
}

footer .logo {
    width: 6rem;
    height: 6rem;
}

footer .icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* Pra as cores das estantes*/
.vermelho {
    background-color: #F06365;
    color: #F06365;
}

.azul {
    background-color: #4B3F6E;
}

.azul-claro {
    background-color: #90A8DF;
}

.verde {
    background-color: #86BD96;
}

.cinza {
    background-color: #DCD7D5;
}

.roxo {
    background-color: #9C8CB9;
}

.laranja {
    background-color: #F4B166;
}